@mixin header-background {
    background-image: $background-img;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 100vh;
}

@mixin nav-menu-border {
    border-right: 2px solid $nav-border-color;
}

@mixin button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    text-decoration: none;
    text-transform: uppercase;
    color: $button-font-color;
    font: $button-font;
    background-color: $button-bg-color;
}

@mixin input {
    border: 1px solid $input-border-color;
    background-color: transparent;
    width: 185px;
    height: 35px;
    padding-left: 15px;
}

body {
    padding: 0;
    margin: 0;
    background: $body-back-color;
    font: $body-font;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    @include header-background;

    section {
        text-align: center;

        h1 {
            margin-top: 10%;
            font: $h1-font;
            text-transform: uppercase;
            color: $header-font-color;
        }

        a {
            &.btn-top {
                @include button;
                margin: 0 auto;

                &:hover {
                    background-color: lighten($button-bg-color, 5%);
                }
            }
        }

    }
}

.top-wrapper {
    display: flex;
    justify-content: space-between;

    .logo {
        width: 16%;
    }

    nav {
        display: flex;

        a {
            @include nav-menu-border;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 280px;
            height: 55px;
            text-decoration: none;
            text-transform: uppercase;
            font: $nav-font;
            color: $header-font-color;

            &:last-child {
                border: none;
            }
        }
    }
}

main {
    margin: 0 auto;
    width: 960px;
}

.toolbar {
    margin-top: 20px;
    text-align: right;

    input {
        @include input;

        &::placeholder {

            color: $main-font-color;
        }
    }
}

.post-list {

    h1 {
        text-align: right;
        text-transform: uppercase;
        color: $main-font-color;
        margin-bottom: 0;
    }
}

article {
    display: flex;
    margin: 0 0 20px 0;
    max-height: 305px;
    background-color: $article-bg-color;

    img {
        padding: 10px;
        max-width: 285px;
    }

    .post {
        padding: 15px 10px 10px 0;
    }

    .btn {
        @include button;
        float: right;
        margin-right: 20px;
        border: none;

        &:hover {
            background-color: lighten($button-bg-color, 5%);
        }
    }
}

.post-description {
    position: relative;
    padding: 0 0 10px 7px;
    font: 13px $font-stack;
    color: $post-desc-color;

    &:after {
        content: '';
        position: absolute;
        top: 25px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $main-theme-color;
    }
}

.post {

    h3 {
        margin: 0;
        margin-top: 7px;
        text-transform: uppercase;
        color: $post-h3-color;
    }

    p {
        margin-top: 0;
        color: $main-font-color;
        line-height: $post-p-line-height;
    }
}

.about {
    padding: 15px;

    h1 {
        margin: 0;
        padding-top: 40px;
        color: $main-font-color;
        text-align: right;
        text-transform: uppercase;
    }

    p {
        line-height: $post-p-line-height;
        color: $main-font-color;

        &:nth-child(2) {
            margin-top: 0;
        }
    }
}

.contact-form {
    text-align: right;

    h1 {
        margin: 0;
        margin-top: 30px;
        color: $main-font-color;
        text-transform: uppercase;
    }

    h4 {
        margin: 0;
        color: $main-font-color;
        text-transform: uppercase;
    }
}

form {
    color: $post-h3-color;

    input,
    textarea {
        border: 1px solid $main-theme-color;
        background-color: transparent;
    }
}

.contact-fields {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;

    .form-control {
        width: 470px;
        height: 45px;
        margin: 5px 0;
    }
}

.text-field {
    margin-top: 20px;

    .form-control {
        width: 99%;
        margin: 5px 0;
    }
}

.form-contact {

    .btn {
        @include button;
        float: right;
        margin: 10px 0 10px 0;
        border: none;
    }
}

footer {
    width: 100%;

    span {
        display: block;
        clear: both;
        margin: 15px;
        font: 13px $font-stack;
        color: $main-font-color;
    }
}