$font-stack: "Palatino Linotype", "Book Antiqua", Palatino, serif;

$body-font: 18px $font-stack;

$body-back-color: #efefef;

$main-theme-color: #cfd8dc;

$background-img: url(../img/header_background_v2.jpg);

$nav-font: 18px $font-stack;

$header-font-color: #ff5722;

$nav-border-color: $main-theme-color;

$h1-font: bold 26px $font-stack;

$button-font: normal $font-stack;

$button-font-color: #fff;

$button-bg-color: #0401ac;

$input-border-color: $main-theme-color;

$article-bg-color: #fff;

$post-desc-color: #c3c3d4;

$post-h3-color: #607da9;

$main-font-color: #757575;

$post-p-line-height: 1.4;