$fontStack: Palatino Linotype, Book Antiqua, Palatino, serif;
$bodyFont: 18px $fontStack;
$bodyBackground: #efefef;
$mainThemeColor: #cfd8dc;
$background-img: url(../img/header_background_v2.jpg);
$navFont: 18px $fontStack;
$headerFontColor: #ff5722;
$navBorderColor: $mainThemeColor;
$h1Font: bold 26px $fontStack;
$buttonFont: 15px $fontStack;
$buttonFontColor: #fff;
$buttonBgColor: #0401ac;
$inputBorderColor: $mainThemeColor;
$articleBgColor: #fff;
$postDescrColor: #c3c3d4;
$postH3Color: #607da9;
$mainFontColor: #757575;
$postPLineheight: 1.4;