$font-stack: Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;

$body-font: 15px $font-stack;

$body-back-color: #fff;

$main-theme-color: #607d8b;

$background-img: url(../img/header_background_v1.jpg);

$nav-font: bold 15px $font-stack;

$header-font-color: #fff;

$nav-border-color: $main-theme-color;

$h1-font: bold 24px $font-stack;

$button-font: normal 15px $font-stack;

$button-font-color: #fff;

$button-bg-color: #01acac;

$input-border-color: $main-theme-color;

$article-bg-color: #efefef;

$post-desc-color: red;

$post-h3-color: #0097a7;

$main-font-color: #000;

$post-p-line-height: 1.8;