$fontStack: Roboto, Ubuntu, Cantarell, Helvetica, sans-serif;

$bodyFont: 15px $fontStack;

$bodyBackground: #fff;

$mainThemeColor: #607d8b;

$background-img: url(../img/header_background_v1.jpg);

$navFont: bold 15px $fontStack;

$headerFontColor: #fff;

$navBorderColor: $mainThemeColor;

$h1Font: bold 24px $fontStack;

$buttonFont: normal 15px $fontStack;

$buttonFontColor: #fff;

$buttonBgColor: #01acac;

$inputBorderColor: $mainThemeColor;

$articleBgColor: #efefef;

$postDescrColor: red;

$postH3Color: #0097a7;

$mainFontColor: #000;

$postPLineheight: 1.8;